@import "mocha.css";
* {
    font-family: JetbrainsMono Nerd Font Propo;
    font-size: 16px;
}

tooltip {
    background-color: @base;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: @surface1;
}

tooltip box {
	padding: 4;
}

tooltip label {
	color: @text;
	padding: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
/*
window#waybar.empty .modules-right{
    padding-left: 0;
}
*/

/* you can set a style on hover for any module like this */
#clock, #workspaces, #window, #group-status, #group-power, #group-tray{
    background-color: @base;
    padding: 0 10px 0 10px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: @surface1;
}

.modules-center{
    background-color: transparent;
    min-width: 256px
}

#workspaces{
    padding: 0;
}

window#waybar.empty #window {
	opacity: 0;
}

#workspaces button:first-child {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    margin-left: -2px;
}
#workspaces button:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-right: -2px;
}

#workspaces button {
    margin:0;
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
    /* box-shadow: inset 0 0 transparent; */
    border: none;
    border-radius: 0;
    margin: -2px 0 -2px 0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 -2px rgba(255, 255, 255, 1);
}

#workspaces button:not(.empty):not(.active) {
    box-shadow: inset 0 -3px rgba(255, 255, 255, 0.5);
}

#workspaces button.urgent {
    background-color: @red;
}


#battery {
    color: @green;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery.critical:not(.charging) {
	animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @teal
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    color: @text;
}

.power-child > .module, #group-status > *:not(:last-child) > .module, #group-tray > *:not(:last-child) > .module{
    padding-right: 10px;
}

